.search-container {
    display: flex;
    justify-content: space-between;
}

.search-input-container {
    background-color: white;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-input-container input{
   border: none;
   outline: none;
   height: 40px;
   width: 250px;
   font-size: 19px;
}

.search-input-container input{
    border: none;
    height: 40px;
    width: 250px;
    font-size: 18px;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
    color: gray;
}

.search-filter-container {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.search-filter-container input{
    color: gray;
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
